canvas {
    position: fixed;
    top: 0;
    left: 0;
}
    :root {
        --spacing: 350px;

        font-family: brandon-grotesque, sans-serif;
        font-weight: 400;
        font-style: normal;
    }

main {
    color: white;
    z-index: 99;
    position: absolute;
    margin: 0px auto;
    padding: 120px 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
    @include for-size(tablet-portrait-up) {

        display: grid;
        grid-template-columns: repeat(12, 1fr);

    }
}

h1,
h2,
h3,
blockquote {
    font-family: elevon, sans-serif;
    font-weight: 700;
    font-style: normal;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
}

header {
    text-align: center;

    @include for-size(tablet-portrait-up) {
        grid-column: 2 / span 5;
        font-size: 2rem;
        padding: 1rem;
        margin-bottom: $spacing;
    }
}

.second {
    width: 30%;
}

.thanks:after {
    display: none;
}
